<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
 
      <a class="navbar-brand menu" href="#">TCE - RJ</a>
     
      <div class="collapse navbar-collapse text-right" >
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sobre Nós</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contato</a>
          </li>
        
        </ul>
    </div>

  
</nav>